@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --font: "Poiret One", cursive;
  --totalscreen: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px double orangered; */
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.818);
  border-radius: 20px;
  visibility: hidden;
}

*::-webkit-scrollbar-track {
  overflow-y: hidden;
  visibility: hidden;
  background-color: rgba(233, 16, 16, 0);
  opacity: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0px 0px 50px 0px;
}

.anuncio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  width: 100%;
  height: 189px;
  border: 4px solid rgba(255, 255, 255, 0.8666666667);
  border-radius: 3px;
  box-shadow: -1px 1px 4px rgba(168, 168, 168, 0.56);
  margin-top: 10px;
  overflow: hidden;
}
.anuncio .imagem {
  background-repeat: no-repeat;
  height: 18em;
  flex: 0 0 100%;
  background-size: contain;
  background-position: right bottom;
  transform-origin: center;
}
.anuncio span {
  position: absolute;
  top: 20%;
  left: 7%;
  font-size: 1.3em;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  line-height: 14px;
  font-variant: small-caps;
  letter-spacing: 0.6px;
}

body {
  background-color: rgb(238, 238, 238);
  position: relative;
}
body main {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  width: var(--totalscreen);
  height: var(--totalscreen);
  padding: 0px 1px 0% 1px;
  z-index: 2;
  transition: all 0.5s;
}

.fav-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  bottom: 50px;
  transform: translate(0px, 800px);
  color: white;
  right: 0;
  width: var(--totalscreen);
  height: 82%;
  transition: all 0.5s cubic-bezier(1, -0.04, 0.54, 1.16);
  visibility: hidden;
}
.fav-page .fav-page-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgb(207, 207, 207);
}
.fav-page .fav-page-content h4 {
  font-family: "Poiret One", cursive;
  font-weight: 800;
  margin: 20px;
}
.fav-page .fav-page-content span {
  font-size: 0.5em;
  text-align: center;
}


footer {
  position: fixed;
  width: var(--totalscreen);
  margin: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10%;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgb(196, 196, 196);
  background: linear-gradient(rgba(255, 255, 255, 0.879), rgb(255, 252, 252));
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 2;
  cursor: pointer;
}
footer .content-search {
  position: absolute;
  bottom: 0.5em;
  right: 1.9em;
  display: block;
  align-items: center;
  justify-content: space-around;
  width: 0px;
  height: 34px;
  background-color: #fff;
  border-radius: 20px;
  visibility: hidden;
  transition: all 0.3s;
  transition-delay: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.1294117647);
}
footer .input-search {
  position: absolute;
  bottom: 0.4em;
  right: 3em;
  display: block;
  border: none;
  background-color: rgba(255, 255, 255, 0.0156862745);
  color: #000;
  height: 36px;
  width: 72%;
  outline: none;
  text-indent: 10px;
  font-size: 1.4em;
  visibility: hidden;
  font-family: "Poiret One", cursive;
  font-weight: bold;
}
footer .search-icon {
  background-color: transparent;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  visibility: visible;
  z-index: 4;
}

header {
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  top: 0;
  left: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 8px;
  background-color: white;
  height: 50px;
  z-index: 3;
}
header h2 {
  font-family: "Poiret One", cursive;
  font-weight: 800;
  font-size: 1.5em;
  margin-left: 28px;
}
header div {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
  height: 26px;
}
header button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.moreoptions {
  position: fixed;
  margin: 0;
  top: 5px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 80px);
  gap: 10px 20%;
  background-color: rgb(240, 239, 239);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: -1px 3px 2px rgba(0, 0, 0, 0.356);
  width: 78%;
  max-width: 85%;
  height: 150px;
  z-index: 9;
  flex: 0 0 50%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 64px 10px;
  visibility: hidden;
  opacity: 1;
  transform: translate(-340px, 0px);
  cursor: pointer;
  transition: all 0.5s;
}
.moreoptions a {
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: center;
  background-color: rgb(219, 229, 232);
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px 5px;
  box-shadow: -1px 2px 1px rgba(0, 0, 0, 0.356);
  width: 140%;
  height: 25px;
  font-size: 0.8em;
  z-index: 1;
}
.moreoptions .closemenu {
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgba(230, 230, 230, 0.9098039216);
  width: 20px;
  height: 20px;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.514);
  cursor: pointer;
  font-size: 0.9em;
}
.moreoptions span {
  font-size: 1.3em;
  margin-top: 2px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 0;
  top: 50px;
  display: flex;
  align-items: center;
  width: var(--totalscreen);
  overflow-x: scroll;
  padding: 0px 10px;
  gap: 30px;
  font-size: 0.7em;
  background-color: white;
  border-bottom: 1px solid rgb(197, 196, 196);
  z-index: 2;
}
nav ::-webkit-scrollbar-thumb {
  color: none;
  background-color: none;
  visibility: hidden;
}

.section {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  width: 100%;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  height: 100%;
}
.section div {
  position: relative;
  background-color: rgb(247, 247, 247);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 19.8em;
  width: 100%;
  flex: 0 0 48%;
  scroll-snap-align: start;
  border-radius: 2px;
  margin: 20px 0px 30px 0px;
}
.section div span {
  position: absolute;
  bottom: -20px;
  left: 3px;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 1em;
  font-variant: small-caps;
  letter-spacing: 2.6px;
}
.section div a {
  position: absolute;
  top: -21px;
  left: 0px;
  background-color: transparent;
  height: 19.8em;
  width: 100%;
  flex: 0 0 48%;
  scroll-snap-align: start;
  border-radius: 2px;
  margin: 20px 0px 30px 0px;
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  margin-bottom: 15%;
}
.section2 div {
  position: relative;
  background-color: #F5F5F5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 7.8em;
  width: 100%;
  flex: 0 0 25%;
  scroll-snap-align: start;
  border: 1px solid rgba(255, 255, 255, 0.6274509804);
  border-radius: 2px;
  margin-top: 50px;
}
.section2 span {
  position: absolute;
  top: 15px;
  left: 10px;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 0.7em;
  line-height: 14px;
  font-variant: small-caps;
  letter-spacing: 4.6px;
}/*# sourceMappingURL=principal.css.map */