


body{
    background-color: rgb(238, 238, 238);
    position: relative;
}



main{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    width: var(--totalscreen);
    height: var(--totalscreen); 
    padding: 0px 1px 0% 1px;
    z-index: 2;
    transition: all .5s;
}