


nav{
    position: sticky;
    margin-top: 0;
    top: 50px;
    display: flex;
    align-items: center;
    width: var(--totalscreen);
    overflow-x: scroll;
    padding: 0px 10px;
    gap: 30px;
    font-size: .7em;
    background-color: white;
    border-bottom: 1px solid rgb(197, 196, 196);
    z-index: 2;
}
nav::-webkit-scrollbar-thumb{
    color:none; 
    background-color: none;
    visibility: hidden;
}   